<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 <meta charset="UTF-8">
     <meta name="viewport"
           content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trainingz</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
<p>Welcome to Trainingz.</p>

<div class="topnav">
    <a href="{% url 'index' %}">Index</a>
    <a href="{% url 'add_workout_block' %}">Add Workout Block</a>
    <a href="{% url 'list_workout_blocks' %}">Workout Blocks</a>




</div>
{% block trainingz %}

Strona główna

{% endblock %}

<p> <img src="{% static 'cycling.jpeg' %}"> </p>
<p>{{ user }}  {{ date }} </p>   <!-- w settings.py jest context_processor który trzyma user'a - więc można go wywołać-->
</body>
</html>