<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 <meta charset="UTF-8">
     <meta name="viewport"
           content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trainingz</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
<p>Welcome {{ user }} have a great workout today.</p>
</body>
</html>

<div class="topnav">
    <a href="{% url 'index' %}">Home</a>
    {% if user.is_authenticated %}
        <a href="{% url 'list_workout_blocks' %}">Workout Blocks</a>
        <a href="{% url 'list_trainings' %}">Trainings</a>
        <a href="{% url 'list_training_weeks' %}">Training Weeks</a>
        <a href="{% url 'logout' %}">Logout</a>
        {% if user.is_authenticated and user.is_superuser %}
            <a href="{% url 'users_list' %}">Users List</a>
            {% endif %}
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
   {% endif %}


</div>
{% block trainingz %}


{% endblock %}

<p> <img src="{% static 'cycling.jpeg' %}"> </p>
<p>{{ date }}</p>