{% extends 'base.html' %}
{% block trainingz %}
    <p></p>

    <div style="border: solid; border-width: 1px;">

        <h3>{{ training_week.name }}</h3>
    </div>


        <p>Trainings:</p>
<div style="border: solid; border-width: 1px;">
        {% for training_day in trainings %}
            <div>{{ training_day.training.date }}: {{ training_day.training.name }}  - {{ training_day.training.activity }}:  {{ training_day.training.description }} </div>

        {% endfor %}


    <a href="{{ training_week.get_update_url }}">
        <button>Edit</button>
    </a>
    <a href="{{ training_week.get_delete_url }}">
        <button>Delete</button>
    </a>

    </p>
    <form method="POST">
        {% csrf_token %}
        {{ form_training.as_p }}
        <input type="submit">
    </form>
{% endblock %}
