{% extends 'base.html' %}
{% block trainingz %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('#completed').forEach(function (item) {
                if (item.innerText === "Completed") {
                    item.parentElement.style.color = "green";
                }
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            document.querySelectorAll('#completed').forEach(function (item) {
                const a = new Date(Date.now())
                const c = item.parentElement.previousElementSibling.innerText
                const b = new Date(item.parentElement.previousElementSibling.innerText)
                console.log(a)
                console.log(b)
                console.log(c)
                if (item.innerText === "To Do" && a > b) {
                    item.parentElement.style.color = "red";
                }
            });
        });
    </script>

    <p></p>

    <div style="border: solid; border-width: 1px;">

        <h4 style="padding-left:5px">{{ training_week.name }} - {{ training_week.start_date }} - {{ training_week.end_date }}</h4>
    </div>
    <div style="padding-left:5px; border: solid; border-width: 1px;">

        <h4>{{ training_week.description }}</h4>
    </div>


    <p style="padding-left:5px">Trainings:</p>

    <table>
        <div style="solid; border-width: 1px;">
            {% for date in dates %}
                <tr>
                    <div class="text" id="text" style="padding-bottom:10px; padding-left:5px; border: solid; border-width: 1px;">
                        {{ date }}</div>

                </tr>
                {% for training in trainings %}
                    {% if date == training.date %}
                        <div class="text" id="text_1" style="padding-bottom:10px; padding-left:15px" >
                            Planned training: {{ training.training.activity }}
                            - {{ training.training }}

                            <a href="{{ training.get_absolute_url }}">
                                <button>Show Training</button>
                            </a>
                            <a href="{{ training.get_delete_url }}">
                                <button>Delete</button>
                            </a>

                            Training Status: <label id="completed">{{ training.completed }}</label>
                        </div>


                    {% endif %}
                    </div>

                {% endfor %}

            {% endfor %}

    </table>

    <div style="border: solid; border-width: 1px; padding-left:5px">Add trainings:</div>
    <form method="POST" style="padding-left:5px">
        {% csrf_token %}
        {{ form_training.as_p }}
        <input type="submit" , value="Add Training">
    </form>


{% endblock %}
