{% extends 'base.html' %}
{% block trainingz %}
    <p></p>

    <div style="border: solid; border-width: 1px;">

        <h4>{{ training_week.name }}</h4> {{ training_week.start_date }} - {{ training_week.end_date }}
    </div>
    <div style="border: solid; border-width: 1px;">

        <h4>{{ training_week.description }}</h4>
    </div>


    <p>Trainings:</p>

    <table>
        <div style="border: solid; border-width: 1px;">
        {% for date in dates %}
            <tr>
                <div style="border: solid; border-width: 1px;">
                    <div class="text" id="text">{{ date }}
                </tr>
            {% for training in trainings %}
                {% if date == training.date %}
                    <tr>
                        <div class="text" id="text">Planned training: {{ training.training.activity }}
                            - {{ training.training }}

                            <a href="{{ training.get_absolute_url }}">
                                <button>Show Training</button>
                            </a>
                            <a href="{{ training.get_delete_url }}">
                                <button>Delete</button>
                            </a>
                        Training Status: {{ training.completed }}
                    </tr>
                {% endif %}
                </div>

  {% endfor %}
            {% endfor %}
        </div>
    </table>

<div style="border: solid; border-width: 1px;">
    <div style="border: solid; border-width: 1px;">Add trainings:</div>
    <form method="POST">
        {% csrf_token %}
        {{ form_training.as_p }}
        <input type="submit" , value="Add Training">
    </form>


{% endblock %}
