{% extends 'base.html' %}
{% block trainingz %}
    <p></p><script>
       document.addEventListener("DOMContentLoaded", function () {
                if (document.getElementById('completed').innerText === "Completed") {
                    document.getElementById('main').style.color = "green";
                    document.getElementById('text').style.color = "green";
                }
            });
    </script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const a = new Date(Date.now())
        const b = new Date(document.getElementById("date").innerText)
        console.log(a)
        console.log(b)
        if (document.getElementById('completed').innerText === "To Do" && a > b) {
            document.getElementById('main').style.color = "red";
            document.getElementById('text').style.color = "red";
        }
    });
    </script>

    <div style="border: solid; border-width: 1px;" id="main">
        <h3><label id="date">{{ training_day.date }}</label></h3>
        <h3>{{ training_day.training }}</h3>
        <h3>{{ training_day.training.activity }}</h3>
    </div>

    <div style="border: solid; border-width: 1px;">
        <p>Duration: {{ training_duration }} min</p>
    </div>

    <div style="border: solid; border-width: 1px;">
        <p>Workout Blocks:</p>
        <div style="border: solid; border-width: 1px;">
            {% for workout_block in training.workout_blocks.all %}
                <div>Workout Block: {{ workout_block.name }} To do: {{ workout_block.workout_details }} </div>

            {% endfor %}

            <div style="border: solid; border-width: 1px;">
                <p>Description: </p>
                {{ training.description }}
            </div>

            <div style="border: solid; border-width: 1px;" id="text">
                <p>Training Status: <label id="completed">{{ training_day.completed }}</label></p>

                <form method="POST">
                    {% csrf_token %}
                    <select name="Completed">
                        <option value="Completed">Completed</option>
                        <option value="To Do">To Do</option>
                    </select>
                    <input type="submit" value="Submit">
                </form>
            </div>


            <div style="border: solid; border-width: 1px;">
                <p>Comments: </p>
                {% for comment in comments %}
                    <div style="border: solid; border-width: 1px;">
                    <p>{{ comment.author }}</p>
                    <p> {{ comment.text }}</p>
                {% endfor %}
                </div>
            </div>


            <form method="POST">
                {% csrf_token %}
                {{ form.as_table }}
                <input type="submit" name="add_comment" value="Add Comment">
            </form>

{% endblock %}