{% extends 'base.html' %}
{% block trainingz %}
    <p></p>

    <div style="border: solid; border-width: 1px;">

        <h3>{{ training_day.day_name }}</h3>
    </div>

    <div style="border: solid; border-width: 1px;">
        <p>Activity: {{ training_day.activity }}</p>
    </div>

    <div style="border: solid; border-width: 1px;">
        <p>Duration: {{ training_day.duration }} min</p>
    </div>

    <div style="border: solid; border-width: 1px;"

        <p>Workout Blocks:</p>
<div style="border: solid; border-width: 1px;">
        {% for workout_block in training_day.workout_blocks.all %}
            <div>Workout Block: {{ workout_block.name }}  To do: {{ workout_block.workout_details }} </div>

        {% endfor %}

    <div style="border: solid; border-width: 1px;">
        <p>Description: </p>
        {{ training_day.description }}
    </div>

    <a href="{{ training_day.get_update_url }}">
        <button>Edit</button>
    </a>
    <a href="{{ training_day.get_delete_url }}">
        <button>Delete</button>
    </a>

    </p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>
{% endblock %}
